.boxContainer {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0vw 8vw !important;
  margin-top: 2vw !important;
  padding: 1vw;
  border-radius: 15px;
}

.timers {
  display: flex;
  justify-content: center;
}

.timer {
  color: white;
  padding: 1vw 3vw;
  font-size: 2vw;
  font-weight: 300;
}

.time {
  color: white;
  font-size: 25vw;
  margin: 0px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
}

.buttonTxt {
  background-color: white;
  color: #f05b56;
  font-size: 5vw;
  font-weight: 400;
  padding: 1vw 6vw;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 10px 10px 10px 3px rgba(255, 255, 255, 0.75);
}

.buttonTxt:hover {
  -webkit-box-shadow: -10px -10px -10px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: -10px -10px -10px 0px rgba(255, 255, 255, 0.75);
  box-shadow: -10px -10px -10px 0px rgba(255, 255, 255, 0.75);
}

.buttonTxt:active {
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

.activeButton {
  background-color: white;
  color: #f05b56;
  font-size: 5vw;
  font-weight: 400;
  padding: 1vw 6vw;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 10px 10px 10px 3px rgba(255, 255, 255, 0.75);
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

.stateOfApp {
  color: white;
  font-weight: 400;
  font-size: 3rem;
}

.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .time {
    color: white;
    font-size: 100px;
    margin: 0px;
  }
  .buttonTxt {
    font-size: 2vw;
    font-weight: 400;
    padding: 1vw 6vw;
    border-radius: 10px;
  }

  .boxContainer {
    padding: 2vw;
    margin: 3vw 14vw !important;
  }

  .activeButton {
    background-color: white;
    color: #f05b56;
    font-size: 2vw;
    font-weight: 400;
    padding: 1vw 6vw;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 10px 10px 3px rgba(255, 255, 255, 0.75);
    box-shadow: 0 5px #666;
    transform: translateY(10px);
  }
}

@media (min-width: 1000px) {
  .time {
    color: white;
    font-size: 100px;
    margin: 0px;
  }
  .buttonTxt {
    font-size: 1vw;
    font-weight: 400;
    padding: 1vw 6vw;
    border-radius: 10px;
  }

  .boxContainer {
    padding: 1vw;
    margin: 2vw 20vw !important;
  }

  .activeButton {
    background-color: white;
    color: #f05b56;
    font-size: 2vw;
    font-weight: 400;
    padding: 1vw 6vw;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 10px 10px 3px rgba(255, 255, 255, 0.75);
    box-shadow: 0 5px #666;
    transform: translateY(10px);
  }
}
