* {
  box-sizing: border-box;
}

.App {
  padding-left: 4vw;
  padding-right: 4vw;
  text-align: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.divider {
  margin-left: 5vw !important;
  margin-right: 5vw !important;
}

.red {
  background-color: #f05b56;
}

.green {
  background-color: #4ca6a9;
}

.blue {
  background-color: #498fc1;
}

@media (min-width: 600px) {
  .App {
    padding-left: 5px;
    padding-right: 5px;
  }
}
